<div class="wrap" fail>
	<p>{{share}}</p>
	<div class="back_wrap background_pic2" backpp></div>
	<div class="deal_pic border2" id="cc">
		<img class="logo" src="file/genal/logo.png"/>
		<!-- <p>{{share}}</p> -->
		<h3 class="final_score">本次成绩:{{finalScore}}分</h3>
		<p class="findglass_notice share_three">好遗憾，你没有在规定时间内找到所有墨镜，不过仍要送你<br><span class="strong">200</span>元代金券鼓励下</p>
		<!-- <p class="btn" text ng-click="showShare()">分享</p>
		<p class="findglass_notice2">全部找到，有机会获得sunglass hut大礼包一份!</p> -->
		<a href="/FindGlass/index.html#/step5"><p class="btn2 confirm_200 courage" text >确认</p></a>
	</div>
	<p>{{share}}</p>
	<div class="share_wrap" ng-show="share" ng-click="hideShare()">
		<p>点击右上角，这么嗨皮当然要和朋友一起分享，能不能赢奖品，看你运气喽！</p>
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>