<div id="hint"></div>
<div class="game_wrap animation" fenbu>
	<div class="wrap_choose" id="wrap_choose">	
		<div id="move">
			<img id="move_pic" src="file/Step2/sofa.png" width=688/>
		</div>

		<!-- <p class="wn">图片可以左右滑动哦~</p>
		<p class="wn wn2">女神戴的这副不算哦~</p> -->
	</div>
	<div class="score">
		<span>{{score}}/10</span>
		<img class="left_ball" src="file/Step2/Xmas_ball.png">
	</div>
	<div class="time"><span>{{totaltime}}</span><img class="right_ball" src="file/Step2/Xmas_ball.png"></div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>