<div class="wrap" successt>
	<div class="back_wrap background_pic2"></div>
	<div class="deal_pic border2" id="cc">
	<img class="logo"src="file/genal/logo.png">
		<h3 class="final_score congratulation">很遗憾！</h3>
		<p class="findglass_notice share_three still">你没有获得奖励，不过仍要送你<br/><span class="strong">200</span>元代金券鼓励下。<br/>想赢得大奖嘛？那就再玩一次吧。</p>
		<a href="/FindGlass/index.html#/step14"><p class="btn btn2 get_coupon get_coupon2" text>领取现金券</p></a>
		<p class="btn btn2 confirm_200 play_again" text ng-click="toFirst()">再玩一次</p>

		<!-- <h3 class="final_score submit_suc">提交成功，<br>静待好礼到来</h3>				
		<a href="#"><p class="btn2 submit_con" text >确认</p></a>
		<p class="findglass_notice2 submit_coupon">后面还有200元代金券等着你，不要忘记哟</p> -->
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>