<!-- <div class="wrap" success>
	<div class="back_wrap get_gift" backpp></div>
	<div class="deal_pic border" id="cc">
	<img class="logo"src="file/genal/logo.png">
		<h3 class="final_score congratulation">恭喜你</h3>
		<p class="findglass_notice share_three money">获得sunglass hut 200元代金券一张！</p>
		<p class="findglass_notice2 submit_coupon">分享给朋友，获得三次重玩的机会吧</p>
		<p class="btn btn2 submit_con" text ng-click="showShare()">分享</p> -->
		<!-- <h3 class="final_score submit_suc">提交成功，<br>静待好礼到来</h3>				
		<a href="#"><p class="btn2 submit_con" text >确认</p></a>
		<p class="findglass_notice2 submit_coupon">后面还有200元代金券等着你，不要忘记哟</p> -->
	<!-- </div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div> -->