<!-- <div class="wrap" fail>
	<p>{{share}}</p>
	<div class="back_wrap background_pic2"></div>
	<div class="deal_pic border2 underline" id="cc">
		<img class="logo"src="file/genal/logo.png">
		
		<p class="findglass_notice share_four">想赢得大奖嘛？那就再玩一次吧。玩之前记得领券哟~</p>
		<a href="/FindGlass/index.html#/step14"><p class="get_200 get_300">点击领取200元电子现金券>></p></a>
		<p class="findglass_notice2">全部找齐将有机会赢得圣诞好礼！</p>
		<a href="/FindGlass/index.html#/step1"><p class="btn btn2 confirm_200">再玩一次</p></a>
		<! <div id="share_detail">
			<p>请点击右上角分享</p>
		</div> -->
	<!-- </div>
	<p>{{share}}</p>
	<div class="share_wrap" ng-show="share" ng-click="hideShare()">
		<p>点击右上角，这么嗨皮当然要和朋友一起分享，能不能赢奖品，看你运气喽！</p>
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div> -->
<!-- </div> -->

