<div class="wrap" stepe>
	<div class="back_wrap background_pic2" backpp>
		<div id="rule_detail">
			<div class="rule_content">
			<h3>抽奖条款与条件</h3>
			<p class="rule_detail_top">1、该活动起止时间为：2015年12月24日至2015年12月30日，截止日期后的任何参与抽奖行为将被视为无效。</p>
			<p>2、所赠消费券在消费满1000元及以上正价商品时即可使用，该券不兑换现金，不找零，不累计，限一次性使用，本券不与其他优惠活动共享，本券不可转售，转发与复制有效，使用日期：2015年12月24日 至2016年2月22日。</p>
			<p>3、抽奖面向在中国居住的所有人，参与者可在活动截止日前通过访问陆逊梯卡（上海）商贸有限公司“不拘一格 睛彩暖冬”活动页面参加抽奖。</p>
			<p>4、获奖者必须提供陆逊梯卡（上海）商贸有限公司认可的证明（如驾照、身份证件或有效护照）以证明其合格获奖者身份。如无法证明，则陆逊梯卡（上海）商贸有限公司有权取消该获奖者资格。</p>
			<p>5、每位参与者仅可获奖一次，如参与者已中奖，则再次参与抽奖无效。</p>
			<p>6、如获奖者无法如期参加活动，将不获得返还现金或其他替代奖品。</p>
			<p>7、奖品不包括路费、保险、可能产生的个人开销或任何额外费用。</p>
			<p>8、如奖品未被成功领取或兑换，陆逊梯卡（上海）商贸有限公司可另行处理该奖品。</p>
			<p>9、陆逊梯卡（上海）商贸有限公司可使用获奖者的姓名、住址和肖像而无需支付额外费用或获得批准。获奖者及其同行者同意并确认在活动期间可被拍照、录像或录音，并由陆逊梯卡（上海）商贸有限公司或其任何关联方用于商业和广告目的。</p>
			<p>10、如参与者在抽奖期间或之后有任何诽谤或攻击陆逊梯卡（上海）商贸有限公司的行为，陆逊梯卡（上海）商贸有限公司有权取消获奖者资格并对获奖者提起诉讼。</p>
			<p>11、陆逊梯卡（上海）商贸有限公司可根据法律要求随时终止或变更本抽奖条款而无需另行通知，如因任何不可抗力导致抽奖活动无法按计划执行，则陆逊梯卡（上海）商贸有限公司有权终止或变更抽奖活动。</p>
			<p>12、陆逊梯卡（上海）商贸有限公司不对超出其控制范围的任何意外事项承担责任。</p>
			<p>13、本抽奖活动受中国法律管辖，本活动最终解释权归陆逊梯卡（上海）商贸有限公司。</p>
				<div id="rule_close"></div>
			</div>
		</div>
		
	</div>
	<div class="deal_pic border2" id="cc">
		<img class="logo"src="file/genal/logo.png">
		<!-- <p>{{share}}</p> -->
		<h3 class="final_score">游戏玩法</h3>
		<p class="findglass_notice share_three rule_text">请在60秒内找到所有墨镜，圣诞好礼等你来拿。</p>
		<div id="rule_icon3">
		<img class="rule_icon" id="rule_icon2" src="file/Step8/icon.png">
		<p class="rule_rule">游戏规则</p>		
		</div>
		<a href="javascript:"><p class="btn btn2 btn_rule" id="useChance" text ng-click="next()">确定</p></a>
	</div>
	<p>{{share}}</p>
	<div class="share_wrap" ng-show="share" ng-click="hideShare()">
		<p>点击右上角，这么嗨皮当然要和朋友一起分享，能不能赢奖品，看你运气喽！</p>
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>

	
