<div class="wrap" fail>

	<p>{{share}}</p>
	<div class="back_wrap background_pic2">
		<div id="share_mask">
			<!-- <div id="rule_close"></div> -->
		</div>
	</div>
	
	<div class="deal_pic border2 underline" id="cc">
	
		<img class="logo"src="file/genal/logo.png">
		<!-- <p>{{share}}</p> -->
		<h3 class="final_score congratulation"></h3>
		<p class="findglass_notice share_three find_all">好遗憾，你没有赢得大奖，想再次角逐就分享给朋友获得三次重玩的机会吧。送你200元现金券鼓舞下士气。</p>
		<a href="/FindGlass/index.html#/step14"><p class="btn btn2 get_coupon" text>领取现金券</p></a>
		<!-- <p class="findglass_notice2">全部找齐将有机会赢得圣诞好礼！</p> -->
		<p class="btn btn2 confirm_200" id="share_content" text ng-click="toFirst()">分享</p>

		
		<!-- <div id="share_detail">
			<p>请点击右上角分享</p>
		</div> -->
	</div>
	<p>{{share}}</p>
	<div class="share_wrap" ng-show="share" ng-click="hideShare()">
		<p>点击右上角，这么嗨皮当然要和朋友一起分享，能不能赢奖品，看你运气喽！</p>
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>

</div>