<div class="wrap" success>
	<div class="back_wrap background_pic2"></div>
	<div class="deal_pic success_gift border2" id="cc">
		<img class="logo"src="file/genal/logo.png">
		<div>
			<h3 class="final_score">本次成绩:{{finalScore}}分</h3>
			<p class="findglass_notice find_all get_one">获得一次拆礼包机会，快来试试运气!</p>
			<div class="findglass_present">
				<img class="gift" id="gift" ng-src="{{gif}}"/>
			</div>
		</div>

		<!-- <div class="formq" ng-show="formShow">
			<p class="lucky">填写信息，离奖品更近一步！</p>
			<div id="success_info" text>提交成功!</div>
			<div id="failure_info" text>提交失败</div>
			<div class="formm">
				<p class="upin"><label class="inp">姓名</label><input type="text" id="na" name="name" ></p>
				<p class="downin"><label class="inp">手机号</label><input type="text" class="dss" id="tt" name="tel"></p>
			</div>
		</div> -->
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>