<div class="wrap" submit>
	<div class="back_wrap get_gift"></div>
	<div class="deal_pic border" id="cc">
	<img class="logo"src="file/genal/logo.png">
		<p class="lucky">睛喜好礼，就在此刻</p>
		<form id="submit_form">
			<p><label>姓名</label><input type="text" name="name" id="na"></p>
			<p><label>手机</label><input type="text" name="tel" id="tt"></p>
			<p><label>地址</label><input type="text" name="address" id="ad"></p>
			<p class="btn2 sub_prize" id="sub" text>提交</p>
		</form>
		<p class="findglass_notice leave_info">中奖信息将于活动结束后公布，烦请留下您的联系方式，静待好礼到来！</p>
		<!-- <div class="formq" ng-show="formShow">
			<p class="lucky">睛喜好礼，就在此刻</p>
			<div id="success_info" text>提交成功!</div>
			<div id="failure_info" text>提交失败</div>
			<div class="formm">
				<p class="upin"><label class="inp">姓名</label><input type="text" id="na" name="name" ></p>
				<p class="downin"><label class="inp">手机号</label><input type="text" class="dss" id="tt" name="tel"></p>
				<p class="inin"><label class="inp">地址</label><input type="text" class="dss" id="ad" name="address"></p>
			</div>
		</div> -->
		<!-- <a href="/FindGlass/index.php#/step10"> -->
		
		<!-- </a> -->
	</div>
	<div id="music" cmusic><img src="file/genal/open.png" class="music_icon"></div>
</div>